@import 'utils/vars';
@import 'utils/fonts';
@import 'utils/libs';
@import 'utils/mixins';
@import 'utils/sprite';
@import './modules/bootstrap/bootstrap';

html {
  font-family: 'Open Sans', Arial, serif;
  font-size: 16px;
  height: 100%;
}

body {
  font-size: 16px;
  height: 100%;
  line-height: 1.15;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  &._lock {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle;
}

textarea {
  resize: none;
}

section {
  position: relative;
}

input,
select,
button {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  background-color: #e7eff9;
  background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
}

.container {
  margin: 0 auto;
  max-width: $content;
  width: 100%;
}

a {
  transition: all ease-out .15s;
  &:hover {
    opacity: .7;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//Модули
@import 'modules/modules';
