.leed {
  &__content {
    background-color: $white;
    border-radius: 10px;
    padding: 35px 20px;
  }
  &__box {
    border-bottom: 1px solid #ccc;
    margin: 0 0 5px 0;
  }
  &__field {
    font-size: 20px;
    line-height: 1.2;
    padding: 5px 0;
    @media screen and (max-width: $mobile-size) {
      font-size: 16px;
    }
  }
  &__label {
    color: $red-color;
    font-size: 16px;
    line-height: 1.4;
    @media screen and (max-width: $mobile-size) {
      font-size: 14px;
    }
  }
  &__button {
    background-color: transparent;
    border: 1px solid $black;
    color: $black;
  }
}
