// Colors
$white: #fff;
$black: #000;
$gray-color: #bfbfbf;
$light-black-color: #37393e;
$red-color: #9b111e;

// Sizes
$base-font-size: 16px;

$mobile-size: 767px;
$tablet-size: 1279px;
$large: 1024;
$desktop: 1280;

$content: 1000px;

// Fonts
