section.events
	.events__top
		.container.px-lg-100
			.events__top-box.align-items-center.d-flex.flex-column.flex-md-row.py-20
				h1.events__title.mb-20.mb-md-0.me-md-50 Johnson Davis
				a(href='#').events__button Редактировать
	.leed.py-50
		.container.px-1.px-md-3.px-lg-100
			.leed__content
				.row.gx-50.gy-20
					.col-12.col-md-6
						.leed__box
							p.leed__field +440287938765
						label.leed__label phone
					.col-12.col-md-6
						.leed__box
							p.leed__field mail@mail.ru
						label.leed__label email
					.col-12.col-md-6
						.leed__box
							p.leed__field Towbar LLC
						label.leed__label company
					.col-12.col-md-6
						.leed__box
							p.leed__field https://towbar.co.uk
						label.leed__label web site
					.col-12
						.leed__box
							p.leed__field Тут может быть много текста комментариев или же не очень много текста, а совсем чуть чуть Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut autem ipsa maxime officiis omnis quibusdam sint? Laborum quam, totam.
						label.leed__label Комментарии
					.col-12.mt-md-60
						a(href='#').events__button.d-block.d-md-inline-block.mb-20.mb-md-0.me-md-20.text-center Назад
						a(href='#').events__button.leed__button.d-block.d-md-inline-block.text-center Все лиды с выставки

