section.events
	.events__top
		.container.px-lg-100
			.events__top-box.align-items-center.d-flex.flex-column.flex-md-row.py-20
				h1.events__title.mb-20.mb-md-0.me-md-50 Список событий компании
				a(href='#').events__button Создать событие
	.events__content.py-50
		.container.px-1.px-md-3.px-lg-100
			.row.gx-0.events__item
				.col-7.col-lg-7
					.row.g-0
						.col-12.col-lg-4.d-flex.align-items-center.mb-15.mb-lg-0.pe-10
							label.events__name Automechanica 2021
						.col-5.col-lg-4.d-flex.align-items-center.justify-content-lg-center.flex-lg-column.pe-10
							label.events__place.d-none.d-lg-block Frankfurt am Main
							.evetns__box.d-flex.flex-column.flex-lg-row
								span.events__date.me-lg-10 2021-07-25
								span.events__days (5 дней)
						.col-7.col-lg-4.d-flex.align-items-center.pe-lg-10
							a.events__link(href='edit-event.html') Редактировать
				.col-4.col-md-3.col-lg-3.d-flex.align-items-md-center.pe-10
					a.events__leeds.d-flex.align-items-center.flex-column.flex-md-row.justify-content-lg-between.w-100(href='#')
						span.events__leeds-count 1432
						span.events__leeds-text Все лиды
				.col-1.col-md-2.col-lg-2.d-flex.align-items-center.justify-content-end
					a.events__add-leeds(href='add-leed.html')
						+icon('icon-plus', 'events__add-icon d-md-none', '20', '20')
						span.d-none.d-md-block Добавить лид
			.row.gx-0.events__item
				.col-7.col-lg-7
					.row.g-0
						.col-12.col-lg-4.d-flex.align-items-center.mb-15.mb-lg-0.pe-10
							label.events__name Automechanica 2021
						.col-5.col-lg-4.d-flex.align-items-center.justify-content-lg-center.flex-lg-column.pe-10
							label.events__place.d-none.d-lg-block Frankfurt am Main
							.evetns__box.d-flex.flex-column.flex-lg-row
								span.events__date.me-lg-10 2021-07-25
								span.events__days (5 дней)
						.col-7.col-lg-4.d-flex.align-items-center.pe-lg-10
							a.events__link(href='edit-event.html') Редактировать
				.col-4.col-md-3.col-lg-3.d-flex.align-items-md-center.pe-10
					a.events__leeds.d-flex.align-items-center.flex-column.flex-md-row.justify-content-lg-between.w-100(href='#')
						span.events__leeds-count 1432
						span.events__leeds-text Все лиды
				.col-1.col-md-2.col-lg-2.d-flex.align-items-center.justify-content-end
					a.events__add-leeds(href='add-leed.html')
						+icon('icon-plus', 'events__add-icon d-md-none', '20', '20')
						span.d-none.d-md-block Добавить лид
			+pagination(5, 1, "arrows")


